.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    background: #0d1119;
    color: aliceblue;
    margin: 0;
}

.container {
    display: block;
    width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 10px 0;
    background: darkslategrey;
    height: 36px;
}

.icon {
    display: inline-block;
    font-family: cursive;
    font-size: 30px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
}

.icon i {
    font-style: normal;
    font-size: 16px;
}

.header-main-list {
    display: inline-block;
    font-size: 0;
    margin: 8px 12px;
    padding: 0;
    list-style: none;
    float: right;
    line-height: 25px;
}

.header-list {
    display: inline-block;
    border-radius: 4px 4px;
    background: dimgray;
    margin: 0 10px;
    padding: 0 10px;
}

.header-list:last-child {
    background: antiquewhite;
}

.header-list:hover {
    background: antiquewhite;
}

.header-nav {
    font-size: 14px;
    color: #000;
    text-decoration: none;
    vertical-align: top;
}

.main-block {
    margin: 0 20px;
    display: inline-flex;
}

.menu-bar {
    display: inline-block;
    width: 25%;
    margin: 20px 0;
}

.menu-main-list {
    background: black;
    border-radius: 5px;
    padding: 0;
    margin: 6px 0;
    list-style: none;
    width: 80%;
}

.menu-list {
    margin: 2px 0;
    padding: 0 10px;
    border-bottom: 1px solid lemonchiffon;
}

.menu-list:hover {
    background: #0d1119;
}

.menu-link {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

.search-area {
    height: 22px;
    border: none;
    padding: 0 10px;
}

/*.search-area::placeholder {*/
    /*padding: 0 10px;*/
/*}*/

.search-btn {
    padding: 0px 10px;
    height: 24px;
    background: dimgray;
    margin: 0 2px;
    border: none;
}

.content {
    display: inline-block;
    margin: 0 auto;
    width: 70%;

}

.main-title {
    display: block;
    margin: 10px;
    padding: 10px;
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
}

#posters {
    display: block;
    margin: 0 40px;
    text-align: center;
}

.poster {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 25%;
    text-align: center;
}

.poster-img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

.poster-info {
    margin: 4px 0;
    padding: 10px;
}

.movie-name {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0 6px;
    padding: 0;
}

.movie-date {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.footer {
    display: block;
    height: 20px;
    background: #000;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}